{% extends 'base.html.twig' %}

{% block title %}Hello CarritoController!{% endblock %}

{% block body %}



{% for item in carrito %}
      <p> {{item.nombreProducto}}</p>
       <p> {{item.precio}}</p>
{% endfor %}
          <p>El total del precio es: {{precio}}</p>
</div>
<form action="{{ path('app_listar_compras') }}" method="post">
  <input type="submit" value="Comprar">
</form>

{% endblock %}
