{% block body %}
<footer style="background-color: black; color: white; position: fixed; bottom: 0; width: 100%;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 text-center">
			<a href="#">
				<i class="fab fa-whatsapp fa-2x text-white"></i>
				</a>
				<a href="#">
				<i class="fab fa-instagram fa-2x text-white"></i>
				</a>
				<a href="#">
				<i class="fab fa-twitter fa-2x text-white"></i>
				</a>
				<a href="#">
				<i class="fab fa-facebook fa-2x text-white"></i>
				</a>
			</div>
			<div class="col-sm-4 text-center my-auto">
				<div class="row">
					<div class="col-sm-6">
						<p>Contacto:</p>
						<p>Teléfono: 123-456-789</p>
						<p>Email: artist@email.com</p>
					</div>
					<div class="col-sm-6">
						<p>Dirección:</p>
						<p>Calle Falsa 123</p>
						<p>Ciudad, CP 12345</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<p>© 2021 Copyright: ArtistShop@gmail.com</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}