{% extends 'base.html.twig' %}

{% block title %}Hello UsuariosController!{% endblock %}

{% block body %}

<p>Estoy aqui</p>
    
    
    
    <h1>Registro</h1>

<form>
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" name="nombre" placeholder="Ingresa tu nombre">
  </div>
  <div class="form-group">
    <label for="lastname">Apellidos:</label>
    <input type="text" class="form-control" name="Apellido" placeholder="Ingresa tus apellidos">
  </div>
  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" class="form-control" name="email" placeholder="Ingresa tu contraseña">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="constrasena" placeholder="Ingresa tu email">
  </div>
  <div class="form-group">
    <label for="birthdate">Fecha de nacimiento:</label>
    <input type="date" class="form-control" name="fecha">
  </div>
  <hr>
  <div class="form-group">
    <label for="cardNumber">Número de tarjeta:</label>
    <input type="text" class="form-control" name="tarjeta" placeholder="Ingresa tu número de tarjeta">
  </div>
  <div class="form-group">
    <label for="cardHolder">Titular:</label>
    <input type="text" class="form-control" name="titular" placeholder="Ingresa el nombre del titular">
  </div>
  <div class="form-group">
    <label for="securityCode">Código de seguridad:</label>
    <input type="text" class="form-control" name="Seguridad" placeholder="Ingresa el código de seguridad">
  </div>
  <div class="form-group">
    <label for="billingAddress">Dirección de facturación:</label>
    <input type="text" class="form-control" name="facturacion" placeholder="Ingresa tu dirección de facturación">
  </div>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>

    <h1><a href="{{ path('app_registro') }}">Inicia sesion</a></h1> 

{% endblock %}

{% endblock %}
