{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
<div class="text-center my-5">
  <h2>Sobre Nosotros</h2>
  <p>ARTIST SHOP se inicia en el mundo textil basándose en su diseño original y totalmente personalizado por nuestros diseñadores con más de 30 años de experiencia en el sector.</p>
</div>
<div class="text-center my-5">
  <img src="{{ asset('img/nosotros.webp') }}" class="img-fluid mb-5" alt="Nosotros en ARTIST SHOP">
</div>
<div class="text-center my-5">
  <p>Disponemos ropa para hombre y mujer de todo tipo basándonos siempre en nuestro diseño especial y único donde la podrás encontrar en nuestra página web.</p>
  <p>Echa un vistazo para realizar tu compra.</p>
  <p>Gracias por su atención.</p>
</div>
{% endblock %}
