{% extends 'base.html.twig' %}

{% block title %}Hello AgregarcarritoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% for producto in carrito %}
   <p>{{ producto.id }}</p>
   <p>{{ producto.nombreProducto }}</p>
   <p>{{ producto.cantidad }}</p>
{% endfor %}

{% endblock %}
